<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Dashboard - SB Admin</title>
<link href="css/styles.css" rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
	crossorigin="anonymous">
	
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="sb-nav-fixed" >
<div th:replace="fragments/components :: header"></div>
		<div id="layoutSidenav_content"class="container" >
			<main style="margin-left:100px; margin-top:60px;">			
				<div>
					<h1 class="mt-4">Muhasebe</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item ">
						<div class="input-group">
						<input class="form-control" type="date"   id="inputext1" placeholder="YYYY-MM-DD"
							aria-label="Search" aria-describedby="basic-addon2" />
						<input class="form-control" type="date"   id="inputext2" placeholder="YYYY-MM-DD"
							aria-label="Search" aria-describedby="basic-addon2" />
						<div class="input-group-append">
							<button class="btn btn-primary" type="button" id="inputbuton" style="height:38px;">
								<i class="fas fa-search" ></i>
							</button>
						</div>
					   </div>
						</li>
					</ol>
					
							<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item ">
						 	<button type="button" class="btn btn-primary btn-md" id="paymentOk" >Ödeme Yapılan</a>
						</li>
				
					</ol>

					<div>
					<div class="card mb-4">
						<div class="card-header" >
							<i class="fas fa-table mr-1"></i> Muhasebeee <br> <label style="color:red;" id="yzd"><b></b></label>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Car Model</th>
											<th>Plate</th>
											<th>Payment</th>
											<th>Status</th>
											<th>Entry Date</th>
											<th>Process</th>
										</tr>
									</thead>
									<tbody class="printCars">

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous">
		
	</script>
	<script src="js/scripts.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="assets/demo/chart-area-demo.js"></script>
	<script src="assets/demo/chart-bar-demo.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
		crossorigin="anonymous"></script>
	<script src="assets/demo/datatables-demo.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			
			
			getDate();
			
            $("#paymentOk").click( function () { paidCar();})
			
			
			
			
// 			paymentOk();
			
// 			function paymentOk(){
			
// 			}		
			
			function getDate(){

				$("#inputbuton").click( function () {			 	
					
					var HOST_URL = "http://localhost:8080";
	            //    var id = $(this).attr("data-test");	 
				 	
	            var startDate=$("#inputext1").val()+"T00:00";
	            var endDate=$("#inputext2").val()+"T23:59";	          
	            var toplam=0;
	        //    alert(startDate);
	           // alert(startDate+endDate);
	                $.ajax({
	                    url: HOST_URL + "/rest/dateCar?startDate="+startDate+"&endDate="+endDate,
	                    type: "GET",
	                    success:function(data) {
	                		data.forEach(function(dataPrint,index){
	                			
	                			toplam+=5;
	                			
								var model = "<td>" + dataPrint.model + "</td>";
								var plate = "<td>" + dataPrint.plate + "</td>";
								//var payment = "<td>" + dataPrint.payment + "</td>";
								
								var payment = "";
								var paymentButton = "";
								if(dataPrint.payment == true){
									payment = '<td class="paymentPrint_'+dataPrint.id+'"><div class="btn btn-success testControl_'+dataPrint.id+'" checked >5 ₺ ödendi</div></td>';
								}
								else{
									payment = '<td class="paymentPrint_'+dataPrint.id+'"><div class="btn btn-warning">Ödenmedi</div></td>';
								}
								
								var status = "";
								if(dataPrint.status == true){
									status = '<td><div class="custom-control custom-switch"><input type="checkbox" data-test="'+dataPrint.id+'" checked class="custom-control-input updateSwitch" id="customSwitch2'+dataPrint.id+'"><label class="custom-control-label" for="customSwitch2'+dataPrint.id+'"></label></div></td>';
								}else{
									status = '<td><div class="custom-control custom-switch"><input type="checkbox" data-test="'+dataPrint.id+'" class="custom-control-input updateSwitch" id="customSwitch2'+dataPrint.id+'"><label class="custom-control-label" for="customSwitch2'+dataPrint.id+'"></label></div></td>';
								}
								
								
								var process = "";				
								
								process = '<td><div><a class="btn btn-warning" href="updateCar?id='+dataPrint.id+'" > <i class="fa fa-edit"></i> </a><button type="button" class="btn btn-danger btn-md deleteCar" data-test="'+dataPrint.id+'" id="button1'+dataPrint.id+'"><i class="fa fa-trash"></i></button>'+paymentButton+'<button type="button" class="btn btn-primary btn-md paymentCheck" data-test="'+dataPrint.id+'" id="button5'+dataPrint.id+'"><i class="fa fa-dollar-sign"></i></button><div></td>';
								
													
								var createdDate = "";
								if(dataPrint.createdDate == "" || dataPrint.createdDate == null){
									createdDate = "<td>-</td>"
								}else{
									createdDate = "<td>" + new Date(dataPrint.createdDate).toLocaleDateString() + "</td>";
								}
								
								$(".printCars").append("<tr id='data_"+dataPrint.id+"'>"+model+plate+payment+status+createdDate+process+"</tr>");
								
								
							})
							$("#yzd").html("<br><b>Toplan gelir : </b>" +toplam+"₺");
                            
						//	alert(toplam);
							statusUpdate();		
							paymentUpdate();
							deleteCar();
							paymentCheck();
	                    	
                    	}
                    });
	                
				 })
			}
			
			
			function paidCar(){
				
				$.ajax({
					url: "http://localhost:8080/rest/paidCar",
					type: "GET",
					success: function(data){
						
						data.forEach(function(dataPrint,index){							
							
							var model = "<td>" + dataPrint.model + "</td>";
							var plate = "<td>" + dataPrint.plate + "</td>";
							//var payment = "<td>" + dataPrint.payment + "</td>";
							
							var payment = "";
							var paymentButton = "";
							if(dataPrint.payment == true){
								payment = '<td class="paymentPrint_'+dataPrint.id+'"><div class="btn btn-success testControl_'+dataPrint.id+'" checked >5 ₺ ödendi</div></td>';
							}
							else{
								payment = '<td class="paymentPrint_'+dataPrint.id+'"><div class="btn btn-warning">Ödenmedi</div></td>';
							}
							
							var status = "";
							if(dataPrint.status == true){
								status = '<td><div class="custom-control custom-switch"><input type="checkbox" data-test="'+dataPrint.id+'" checked class="custom-control-input updateSwitch" id="customSwitch2'+dataPrint.id+'"><label class="custom-control-label" for="customSwitch2'+dataPrint.id+'"></label></div></td>';
							}else{
								status = '<td><div class="custom-control custom-switch"><input type="checkbox" data-test="'+dataPrint.id+'" class="custom-control-input updateSwitch" id="customSwitch2'+dataPrint.id+'"><label class="custom-control-label" for="customSwitch2'+dataPrint.id+'"></label></div></td>';
							}
							
							
							var process = "";				
							
							process = '<td><div><a class="btn btn-warning" href="updateCar?id='+dataPrint.id+'" > <i class="fa fa-edit"></i> </a><button type="button" class="btn btn-danger btn-md deleteCar" data-test="'+dataPrint.id+'" id="button1'+dataPrint.id+'"><i class="fa fa-trash"></i></button>'+paymentButton+'<button type="button" class="btn btn-primary btn-md paymentCheck" data-test="'+dataPrint.id+'" id="button5'+dataPrint.id+'"><i class="fa fa-dollar-sign"></i></button><div></td>';
							
												
							var createdDate = "";
							if(dataPrint.createdDate == "" || dataPrint.createdDate == null){
								createdDate = "<td>-</td>"
							}else{
								createdDate = "<td>" + new Date(dataPrint.createdDate).toLocaleDateString() + "</td>";
							}
							
							$(".printCars").append("<tr id='data_"+dataPrint.id+"'>"+model+plate+payment+status+createdDate+process+"</tr>");
						})  

						statusUpdate();		
						paymentUpdate();
						deleteCar();
						paymentCheck();

					}
				})
				
				
			}
			
				
			function statusUpdate(){

				$(".updateSwitch").click( function () {		
				 	
					
					var HOST_URL = "http://localhost:8080";
	                var id = $(this).attr("data-test");	 
				 	
	                $.ajax({
	                    url: HOST_URL + "/rest/updateCarStatus/"+id,
	                    type: "PUT",
	                    success:function(data) {
	                    	alert("İşlem Başarılı")
                    	}
                    });
	                
				 })
			}
			
			function paymentUpdate(){

				$(".updatePayment").click( function () {		
				 	
					
					var HOST_URL = "http://localhost:8080";
	                var id = $(this).attr("data-test");	 
				 	
	                $.ajax({
	                    url: HOST_URL + "/rest/updateCarPayment/"+id,
	                    type: "PUT",
	                    success:function(data) {
	                    	alert("İşlem Başarılı")
                    	}
                    });
	                
				 })
			}
			
			
			function deleteCar(){

				$(".deleteCar").click( function () {		
				 	
					
					var HOST_URL = "http://localhost:8080";
	                var id = $(this).attr("data-test");	 
				 	
	                $.ajax({
	                    url: HOST_URL + "/rest/delete/"+id,
	                    type: "DELETE",
	                    success:function(data) {
	                    	$("#data_"+id).remove();
	                    	alert("İşlem Başarılı")
                    	}
                    });
	                
				 })
			
			}
			
	
			
			function paymentCheck(){

				$(".paymentCheck").click( function () {		
				 	
					
					var HOST_URL = "http://localhost:8080";
	                var id = $(this).attr("data-test");	 
	                
	                
	                if($(".testControl_"+id).hasClass("btn-success")){
						
	                	  const Toast = Swal.mixin({
		                    		  toast: true,
		                    		  position: 'top-end',
		                    		  showConfirmButton: false,
		                    		  timer: 3000,
		                    		  timerProgressBar: true,
		                    		  didOpen: (toast) => {
		                    		    toast.addEventListener('mouseenter', Swal.stopTimer)
		                    		    toast.addEventListener('mouseleave', Swal.resumeTimer)
		                    		  }
		                    		})

		                    		Toast.fire({
		                    		  icon: 'success',
		                    		  title: 'Zaten ödendi'
		                    		})

	 	               }
	 	               else{
		                
	 	            	  $.ajax({
	 		                    url: HOST_URL + "/rest/updateCarPayment/"+id,
	 		                    type: "PUT",
	 		                    success:function(data) {
	 		                    	
	 		                    	const Toast = Swal.mixin({
	 		                    		  toast: true,
	 		                    		  position: 'top-end',
	 		                    		  showConfirmButton: false,
	 		                    		  timer: 3000,
	 		                    		  timerProgressBar: true,
	 		                    		  didOpen: (toast) => {
	 		                    		    toast.addEventListener('mouseenter', Swal.stopTimer)
	 		                    		    toast.addEventListener('mouseleave', Swal.resumeTimer)
	 		                    		  }
	 		                    		})

	 		                    		Toast.fire({
	 		                    		  icon: 'success',
	 		                    		  title: 'Ödeme başarıyla gerçekleşti'
	 		                    		})
	 	                    	}
	 	                    }); }
				 })
			}				
			
		
			function paymentCheck(){

				$(".paymentCheck").click( function () {		
				 	
					
					var HOST_URL = "http://localhost:8080";
	                var id = $(this).attr("data-test");	 
	                $.ajax({
	                    url: HOST_URL + "/rest/updateCarPayment/"+id,
	                    type: "PUT",
	                    success:function(data) {
	                    	
	                    	const Toast = Swal.mixin({
	                    		  toast: true,
	                    		  position: 'top-end',
	                    		  showConfirmButton: false,
	                    		  timer: 3000,
	                    		  timerProgressBar: true,
	                    		  didOpen: (toast) => {
	                    		    toast.addEventListener('mouseenter', Swal.stopTimer)
	                    		    toast.addEventListener('mouseleave', Swal.resumeTimer)
	                    		  }
	                    		})

	                    		Toast.fire({
	                    		  icon: 'success',
	                    		  title: 'Ödeme başarıyla yapıldı'
	                    		})
	                    	$(".paymentPrint_"+id).html('<div class="btn btn-success">5 ₺ ödendi</div>')
                    	}
                    });
	                
				 })
			}	
			
				
		})	
		
		
	</script>
</body>
</html>